.sidebar {
	height: 100%;
	width: 30%;
	max-width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #dcdee0;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 20px;
}

.sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #616161;
	display: block;
}